/* efectos.css */

/* HEADER */

.slice-top {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: sliceIn 1s forwards;
}

@keyframes sliceIn {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* PROYECTOS */

.proyecto {
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.desde-la-izquierda {
  transform: translateX(-100%);
}

.desde-la-derecha {
  transform: translateX(100%);
}

.proyecto.aparecer {
  opacity: 1;
  transform: translateX(0);
}

/* FOOTER */

.hidden {
  display: none;
}

.slice-up {
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  animation: sliceUp 2s forwards;
}

@keyframes sliceUp {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para los iconos */

.icon-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease, transform 0.5s ease;
}

.icon-container:nth-child(1) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.1s;
}

.icon-container:nth-child(2) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.2s;
}

.icon-container:nth-child(3) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.3s;
}

.icon-container:nth-child(4) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.4s;
}

.icon-container:nth-child(5) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.5s;
}

.icon-container:nth-child(6) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.6s;
}

.icon-container:nth-child(7) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.7s;
}

.icon-container:nth-child(8) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.8s;
}

.icon-container:nth-child(9) {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.8s;
}

/* DARK MODE */

header {
  justify-content: space-between;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #e4e270;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .checkbox-label .ball {
  background-color: rgb(126, 126, 124);
  transform: translateX(24px);
}

body.dark-mode {
  background-color: #4d258d;
  color: #eeeafd;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #eeeafd;
}

header.slice-top.dark-mode {
  background-color: #340f6e;
  transition: background-color 0.5s, color 0.5s;
}

main.dark-mode {
  background-color: #4d258d;
  transition: background-color 0.5s, color 0.5s;
}

footer.dark-mode {
  background-color: #340f6e;
  transition: background-color 0.5s, color 0.5s;
}

.checkbox-label.dark-mode {
  background-color: #e0e0e0;
}

.checkbox-label.dark-mode .ball {
  background-color: #fff;
}
