* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #eeeafd;
  color: #333;
  line-height: 1.6;
}

h1 {
  color: #4b0082;
  text-transform: uppercase;
  border-bottom: 2px solid #8053ea;
}

h3 {
  font-size: 1.3em;
  color: #4b0082;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #8053ea;
  padding-bottom: 10px;
  font-weight: bold;
}

h4 {
  font-size: 1.3em;
  color: #4b0082;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #8053ea;
  padding-bottom: 10px;
  font-weight: bold;
}


header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #8053ea;
  border-radius: 0 0 15px 15px;
  color: #eeeafd;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: #eeeafd;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #333;
}

main {
  padding: 20px;
  background-color: #eeeafd;
}

section {
  margin-bottom: 20px;
}

#inicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.contenedor img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: transform 0.4s, visibility 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trasera {
  visibility: hidden;
  transform: rotateY(180deg);
}

.contenedor:hover .delantera {
  transform: rotateY(180deg);
  visibility: hidden;
}

.contenedor:hover .trasera {
  transform: rotateY(0deg);
  visibility: visible;
}

#inicioRedes {
  margin-top: 10px;
}

#inicioRedes img {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s;
}

#inicioRedes img:hover {
  transform: scale(1.2);
}

/* GitHub Icon */
#inicioRedes .igit {
  width: 50px;
  height: 50px;
}

/* LinkedIn Icon */
.ilin {
  width: 50px;
  height: 50px;
  filter: invert(30%) sepia(61%) saturate(2889%) hue-rotate(196deg)
    brightness(92%) contrast(85%);
}

#iconos img {
  max-width: 100%;
  margin: 10px 0;
}

footer {
  background-color: #8053ea;
  color: #eeeafd;
  padding: 10px;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

/* Sección de Proyectos */
#proyectos {
  padding: 5px;
}

.proyecto {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.proyecto img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.proyecto-detalles {
  padding: 20px;
  flex: 1;
}

.proyecto-detalles h4 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.proyecto-detalles p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.proyecto-detalles a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  color: #fff;
  background-color: #8053ea;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.proyecto-detalles a:hover {
  background-color: #4b0082;
}

.tecnologias {
  margin: 0;
  margin-bottom: 10px;
}

.tec {
  display: inline-block;
  padding: 6px 12px;
  margin: 3px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

/* Estilos adicionales para hover */
.tec:hover {
  background-color: #e0e0e0;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Color de la línea */
  margin: 10px 0; /* Espacio alrededor de la línea */
}

/* Sección de Contacto */
#contacto {
  padding: 3px;
  background-color: #eeeafd;
  border-radius: 20px;
  border: 10px solid #4b0082;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  color: #fff;
  background-color: #8053ea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4b0082;
}

.contacto-info {
  margin-top: 20px;
  text-align: center;
}

.footer-socials {
  margin-top: 10px;
}

.footer-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer-mail img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.3s;
}
.footer-mail img:hover {
  transform: scale(1.2);
}

.footer-socials img:hover {
  transform: scale(1.2);
}

.footer-cv {
  margin: 0 auto;
  padding: 10px;
}

.footer-cv a {
  text-decoration: none;
  color: #fff;
}

/* Estilo para el enlace a GitHub */
#proyectos h3 a {
  color: #8053ea;
  text-decoration: none;
  transition: color 0.3s;
}

#proyectos h3 a:hover {
  color: #4b0082;
  text-decoration: underline;
}

/* Flechas movimiento */

.movez {
  display: inline-block;
  animation: moveRight 1s infinite alternate;
}

.moved {
  display: inline-block;
  animation: moveLeft 1s infinite alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}

.skills {
  max-width: 600px;
  margin: 20px auto;
}

.skills h3 {
  font-family: "Arial", sans-serif;
  color: #4b0082;
  margin-bottom: 10px;
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icon-container img {
  cursor: pointer;
}

/* Media Query para tablet */
@media (min-width: 768px) {
  header nav ul li a {
    padding: 15px;
  }

  main {
    padding: 30px;
  }

  #inicio {
    justify-content: center;
  }

  .contenedor {
    width: 200px;
    height: 200px;
  }

  .proyecto img {
    max-width: 100%;
  }

  .proyecto-detalles {
    padding: 10px;
  }
}

/* Media Query para escritorio */
@media (min-width: 1024px) {
  header {
    padding: 20px 50px;
  }

  header h1 {
    font-size: 2em;
  }

  #inicioRedes img {
    margin: 0 20px;
  }

  main {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main h1 {
    order: -1;
    text-align: center; 
    margin-bottom: 20px;
  }

  main > * {
    margin: 10px;
  }

  #presentacion {
    width: 600px;
  }

  #habilidades {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  #contacto {
    width: 500px;
  }

  section {
    justify-content: center;
    align-items: center;
  }

  #proyectos {
    width: 90%;
  }

  #proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .proyecto {
    width: 500px;
    margin: 0 20px 20px 0;
  }
}
