* {
  text-align: center;
  font-size: 14px;
  background-color: bisque;
  margin: 0;
}

header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin: 2px;
}

header nav ul {
  display: flex;
  margin: 2px;
  list-style-type: none;
}

header nav ul li {
  padding: 5px;
}

main {
  padding: 7px;
  background-color: aquamarine;
  grid-template-areas:
    "image inicio"
    "habilidades contacto"
    "habilidades contacto";
  grid-gap: 10px;
  overflow: hidden;
}

section {
  padding: 5px;
  overflow-y: auto;
  border-radius: 10px;
}

/** IMAGENES */

.contenedor {
  position: relative;
  width: 200px;
  height: 200px;
}

#imagen img {
  position: absolute;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  top: 13px;
  left: 13px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.trasera {
  visibility: hidden;
  transform: rotateY(160deg); 
}

.contenedor:hover .delantera {
  transform: rotateY(180deg);
  visibility: hidden;
}

.contenedor:hover .trasera {
  transform: rotateY(0deg); 
  visibility: visible;
}

/** HABILIDADES */

#iconos img{
  width: 100%;
  align-items: center;
}

/* Asignar áreas */
section:nth-child(1) {
  grid-area: image;
}

section:nth-child(2) {
  grid-area: inicio;
  background-color: rgb(224, 163, 71);
  align-content: center;
}

section:nth-child(3) {
  width: 190px;
  height: 300px;
  grid-area: habilidades;
  background-color: rgb(190, 125, 26);
}

section:nth-child(4) {
  grid-area: contacto;
  background-color: rgb(95, 83, 65);
}

footer {
  background-color: rgb(26, 104, 104);
  padding: 7px;
  border: 3px solid;
  border-radius: 30px;
  margin: 3px;
}
