* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #eeeafd;
  color: #333;
  line-height: 1.6;
}

h3 {
  font-size: 1.3em;
  color: #4b0082;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #8053ea;
  padding-bottom: 10px;
  font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #8053ea;
  border-radius: 0 0 15px 15px;
  color: #eeeafd;
  display: flex;
  padding: 10px;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: #eeeafd;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #333;
}

main {
  padding: 20px;
  background-color: #eeeafd;
}

section {
  margin-bottom: 20px;
}

#inicio {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.contenedor img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: transform 0.4s, visibility 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trasera {
  visibility: hidden;
  transform: rotateY(180deg);
}

.contenedor:hover .delantera {
  transform: rotateY(180deg);
  visibility: hidden;
}

.contenedor:hover .trasera {
  transform: rotateY(0deg);
  visibility: visible;
}

#inicioRedes {
  margin-top: 10px;
}

#inicioRedes img {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s;
}

#inicioRedes img:hover {
  transform: scale(1.2);
}

#iconos img {
  max-width: 100%;
  margin: 10px 0;
}

footer {
  background-color: #8053ea;
  color: #eeeafd;
  padding: 10px;
  text-align: center;
  border-radius: 30px 30px 0 0;
}
